/* CSS Document */




/* INICI*/
#fI{
    position:absolute;             /* centre pantalla */
    left:50%;
    top:35%;
    height:50px;                   
    width:225px;                  
   	text-align:center;
   	padding:110px 0px 0px 0px;    
   	margin:-115px 0px 0px -112px;
	
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


	
/* TELEFON  */
#tel_txt, #smstxt{
	
	text-align:center;
	color:#06C;
	
	margin-top:20px;
	font-size:18px;
	}	
	
#prefix{
	width:10%;
	min-with:70px;
	float:left;
	margin: 0 30px;
	margin-left: 17%;
	color:#06C;
	
	
	}
	
#tel {
	width:40%;
	min-with:600px;
	margin:0 30px;
	color:#06C;
	
	}
	
/* idioma  */

#tag_dlang,#device_lang{
	
	float:left;
	margin: 0 10px;
	font-size:16px;
	padding-bottom:10px;
	padding-top:10px;
	
	}
	
	
#device_lang1,#langsel{
	
	margin:0 50%;
	width:40%;
	text-align:right;
	font-size:18px;
	color:#06C;
	padding-bottom:10px;
	padding-top:10px;
	}	
	
/* PERFIL  */

#smallImage{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: -10px;	
	float:right;
	right:10px;
	}

#photo_txt{
	margin: 0 10px;
	padding-top: 80px;
	}

	
#prf{
	width:97%;
	font-family:helvetica, sans-serif;
	font-size:16px;
	}


#p1e, #p2e, #p3e, #p4e, #p5e, #p6e{
	
	float:left;
	margin: 0 10px;
	
	}
	
	
#nom, #cognom, #birth ,#telu, #email, #deviceLanguage, #gender, #notificacions{
	
	margin:0 40%;
	width:55%;
	text-align:right;
	color:#06C;
	}	

/* GRAFIQUES */



#grtxt{
	text-align:center;
	color:#06C;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
	font-size:18px;
	}
	

#container, #container1{
	width:90%;
	margin:0 5px;
	}
#grf_table, #grf_table1{
	width:100%;
	margin-left:20px;
	margin-top:30px}
	
/*FORMULARI*/


#field, #fV{
	background:#FFF;
	margin:20px 20px;
	}
	
#fF,#fF1,#Ff1{
	display:block;	
	}
#Ff{
	display:none;
	}

#ps1m, #ps1t, #pst1m, #pst1t{
	width:30%;
	min-with:600px;
	float:left;
	margin: 0 30px;
	margin-left: 10%;
	margin-top:10px;
	color:#06C;
	text-align:center;
	
	}
	
#ps2m, #ps3m, #pst2m, #pst3m,#ps2t, #ps3t, #pst2t, #pst3t{
	width:30%;
	min-with:600px;
	float:left;
	margin: 0 30px;
	margin-left: 10%;
	color:#06C;
	text-align:center;
	
	}
	
	
#pd1m, #pd2m, #pd3m,#pdt1m, #pdt2m, #pdt3m, #pd1t, #pd2t, #pd3t,#pdt1t, #pdt2t, #pdt3t{
	width:30%;
	min-with:600px;
	margin: 10px;
	color:#06C;
	text-align:center;
	
	}	
	

/*resultats*/

#field1{
	width:100%;
	}
	
#res{
	width:10%;
	min-with:35px;
	margin-top:10px;
	margin-left: 10px;
	float:left;
	}
/*#resultats{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: 20px;
	
	text-shadow:none;
	background:#E2E2E2;
	}*/
	
#valoracio{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: 20px;
	background:#AFA;
	margin-top: 24px;
	margin-left:70px;
	text-shadow:none;
	
	
	}
#recordatori{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: 20px;
	text-shadow:none;
	background:#CCC;
	font-weight:bold;
	/*float:left;*/
	
	}


/* TAULA  */

table {
      border-collapse: collapse;
	  width:90%;
	  padding-right:15px;
    }
th, td {
      padding: 5px 10px;
      border: 1px solid #999;
 	}
th {
      background-color: #eee;
    }

	
/*botons superiors*/

#back_btn, #cancel_btn, #send_btn, #rsend_btn {
	
	top:10px;
	width:85px;
	height:30px; 
	line-height:20px;
	padding:2px 2px; 
	margin:0;
	font-size:12px; 
	
}

 #bSMS{
	
	top:10px;
	width:90px;
	height:30px; 
	line-height:20px;
	padding:2px 2px; 
	margin:0;
	font-size:12px; 
	
}

#resend_btn, #tele_btn {
	
	top:10px;
	height:30px; 
	width:70px;
	line-height:20px;
	padding:2px 2px;
	margin:0;
	font-size:12px; 
	float:right;
	right:7px;
	
}

#aa {
	
	top:10px;
	height:0px; 
	width:0px;
	line-height:0px;
	padding:2px 2px;
	margin:0;
	font-size:0px; 
	
	
}


/*barra lateral*/

#panel1{
	background:#CCC;
   color:white; 
   font-weight: bold; 
   width:200px;
   position:absolute;
  
    }
	
	
#panel	{
	border:1px solid #c6c6c6;
	background:#ccc;
	color:#333;
	text-shadow:0 1px 0 #fff;
	font-weight:normal;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#ccc));
	background-image:-webkit-linear-gradient(#e6e6e6,#ccc);
	background-image:-moz-linear-gradient(#e6e6e6,#ccc);
	background-image:-ms-linear-gradient(#e6e6e6,#ccc);
	background-image:-o-linear-gradient(#e6e6e6,#ccc);
	background-image:linear-gradient(#e6e6e6,#ccc);
	}
	
#panel_header{
	border:1px solid #456f9a;
	background:#5e87b0;
	color:#fff;
	font-weight:bold;
	text-shadow:0 -1px 1px #254f7a;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#81a8ce),to(#5e87b0));
	background-image:-webkit-linear-gradient(#81a8ce,#5e87b0);
	background-image:-moz-linear-gradient(#81a8ce,#5e87b0);
	background-image:-ms-linear-gradient(#81a8ce,#5e87b0);
	background-image:-o-linear-gradient(#81a8ce,#5e87b0);
	background-image:linear-gradient(#81a8ce,#5e87b0);
    }
	
#listv{
	width:150px;
	border:1px solid #ccc;
	background:#eee;
	font-weight:bold;
	/*color:#444;*/
	color:#06C;
	text-shadow:0 1px 1px #f6f6f6;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
	background-image:-webkit-linear-gradient(#fdfdfd,#eee);
	background-image:-moz-linear-gradient(#fdfdfd,#eee);
	background-image:-ms-linear-gradient(#fdfdfd,#eee);
	background-image:-o-linear-gradient(#fdfdfd,#eee);
	background-image:linear-gradient(#fdfdfd,#eee);
	}