/* CSS Document */

/* INICI*/
#fI{
    position:absolute;             /* centre pantalla */
    left:50%;
    top:35%;
    height:50px;                   
    width:225px;                  
   	text-align:center;
   	padding:110px 0px 0px 0px;    
   	margin:-115px 0px 0px -112px;
	
}


s@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


	
/* TELEFON  */
#tel_txt, #smstxt{
	
	text-align:center;
	color:#06C;
	
	margin-top:20px;
	font-size:18px;
	}	
	
#prefix{
	width:10%;
	min-with:70px;
	float:left;
	margin: 0 30px;
	margin-left: 17%;
	color:#06C;
	
	
	}
	
#tel {
	width:40%;
	min-with:600px;
	margin:0 30px;
	color:#06C;
	
	}
	
/* idioma  */

#tag_dlang,#device_lang{
	
	float:left;
	margin: 0 10px;
	font-size:16px;
	padding-bottom:10px;
	padding-top:10px;
	
	}
	
	
#device_lang1,#langsel{
	
	margin:0 50%;
	width:40%;
	text-align:right;
	font-size:18px;
	color:#06C;
	padding-bottom:10px;
	padding-top:10px;
	}	
	
/* PERFIL  */

#smallImage{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: -10px;	
	float:right;
	right:10px;
	}

#photo_txt{
	margin: 0 10px;
	padding-top: 80px;
	}

	
#prf{
	width:97%;
	font-family:helvetica, sans-serif;
	font-size:16px;
	}


#p1e, #p2e, #p3e, #p4e, #p5e, #p6e{
	
	float:left;
	margin: 0 10px;
	
	}
	
	
#nom, #cognom, #birth ,#telu, #email, #deviceLanguage, #gender, #notificacions{
	
	margin:0 40%;
	width:55%;
	text-align:right;
	color:#06C;
	}	

/* GRAFIQUES */



#grtxt{
	text-align:center;
	color:#06C;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
	font-size:18px;
	}
	

#container{
	width:90%;
	margin:0 5px;
	}
#grf_table{
	width:100%;
	margin-bottom:40px;
	margin-left:20px;}
	
/*FORMULARI*/


#field{
	background:#FFF;
	margin:20px 20px;
	}
	
#fF{
	display:block;	
	}
#Ff{
	display:none;
	}

#ps1m, #ps1t{
	width:30%;
	min-with:600px;
	float:left;
	margin: 0 30px;
	margin-left: 10%;
	margin-top:10px;
	color:#06C;
	text-align:center;
	
	}
	
#ps2m, #ps3m,#pst1m, #pst2m, #pst3m,#ps2t, #ps3t,#pst1t, #pst2t, #pst3t{
	width:30%;
	min-with:600px;
	float:left;
	margin: 0 30px;
	margin-left: 10%;
	color:#06C;
	text-align:center;
	
	}
	
	
#pd1m, #pd2m, #pd3m,#pdt1m, #pdt2m, #pdt3m, #pd1t, #pd2t, #pd3t,#pdt1t, #pdt2t, #pdt3t{
	width:30%;
	min-with:600px;
	margin: 10px;
	color:#06C;
	text-align:center;
	
	}	
	
#result{
	margin:auto;
	margin-left:30%;
	}
	
#lab1 {
	position: absolute;
	left:30%;
	min-with:1000px;
	margin:auto;
	}	

	
#date{
	width:90%;
	min-with:800px;
	margin:10px;
	}
	
#pahM{
	width:90%;
	min-with:600px;
	margin: 20px 20%;
	}	
#fV{
	width:100%;
	min-with:700px;
	margin:auto;
	}	
	
#fT,#fS{
	width:90%;
	min-with:800px;
	margin:auto;
	}
	

/*resultats*/

#field1{
	width:100%;
	}
	
#res{
	width:10%;
	min-with:35px;
	margin-top:10px;
	margin-left: 10px;
	float:left;
	}
#resultats{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: 20px;
	
	text-shadow:none;
	background:#E2E2E2;
	
	}
#valoracio{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: 20px;
	/*float:right;
	width:70%;*/
	margin-top: 24px;
	margin-left:70px;
	text-shadow:none;
	background:#AFA;
	
	}
#recordatori{
	border: 2px #ddd solid;
    border-radius: 20px;
    padding: 20px;
	text-shadow:none;
	background:#CCC;
	font-weight:bold;
	/*float:left;*/
	
	}


/* TAULA  */

table {
      border-collapse: collapse;
	  width:90%;
	  padding-right:15px;
    }
th, td {
      padding: 5px 10px;
      border: 1px solid #999;
 	}
th {
      background-color: #eee;
    }

	
/*botons superiors*/

#back_btn, #bSMS, #cancel_btn, #send_btn, #rsend_btn {
	
	top:10px;
	width:90px;
	height:30px; 
	line-height:20px;
	padding:2px 2px; 
	margin:0;
	font-size:12px; 
	
}

#resend_btn, #tele_btn {
	
	top:10px;
	height:30px; 
	width:70px;
	line-height:20px;
	padding:2px 2px;
	margin:0;
	font-size:12px; 
	float:right;
	right:7px;
	
}